<% @ordered_products.each do |ordered_product| %>
  <div class="jumbotron text-center">
      <%= link_to ordered_product.product.name, ordered_product.product,
          class: 'h2 text-dark '%>

      <p>Price: <%= ordered_product.product.price %></p>
    </nav>

    <%= link_to 'Delete from Cart', ordered_product_path(ordered_product),
                data: {:confirm => 'Are you sure?'}, :method => :delete,
                class: 'btn btn-danger btn-block' %>
  </div>
<% end %>
